@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  /* background: linear-gradient(#5a62ff,#b48eff,#312edb); */
  /* background: #ECF3F9; */
  background: #e2f3ff;
  /* background: linear-gradient(#bfb6ff,#a1bdff,#b4b8ff); */
}

:root{
  --primary-color : #00052d ;
  --white : #ffffff;
}


#root{
  width: 100vw;
  height: 100vh;
}